html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}

nav > ul > li {
    list-style: none;
    border-bottom: #202020 solid;
}

nav > ul > li:hover {
    border-bottom: #f8f8f8 solid;
}

nav > ul > li > a {
    display: block;
}

nav a:hover {
    text-decoration: none;
}

select, input {
    height: 2em;
    padding: 1em;
}

.progress {
    padding: 2px;
    position: relative;
    height: 20px;
}

.progress .progress-bar {
    height: 100%;
    width: 0%;
    background: black
}

.r:after, nav > ul > li:after {
    content: "";
    display: table;
    clear: both;
}

#history {
    position: relative;
}

cell {
    position: absolute;
}